@tailwind base;
@tailwind components;
@tailwind utilities;
.react-calendar {
  width: 100%;
  max-width: 700px;
  background: #18181b;
  color: white;
  border-radius: 24px;
  border: none;
  padding: 20px;
}

.react-calendar button {
  border-radius: 12px;
  margin: 4px;
  color: white;
}

.react-calendar__tile--active {
  background: #eab308 !important;
  color: black !important;
}

.react-calendar__navigation button {
  color: #eab308;
  font-size: 20px;
}

.react-calendar__month-view__weekdays {
  color: #eab308;
  font-weight: bold;
  text-transform: uppercase;
}

.react-calendar__tile {
  padding: 14px 0;
}

.react-calendar__tile:hover {
  background: #27272a;
}
.react-calendar__month-view__days__day {
  color: black !important;
}

.react-calendar__tile--now {
  background: #facc15 !important;
  color: black !important;
}

.react-calendar__tile--active {
  background: #eab308 !important;
  color: black !important;
}
.partially-booked {
  background: rgba(234, 179, 8, 0.25) !important;
  border: 1px solid #eab308 !important;
  color: white !important;
  border-radius: 12px;
}

.fully-booked {
  background: rgba(239, 68, 68, 0.35) !important;
  border: 1px solid #ef4444 !important;
  color: white !important;
  border-radius: 12px;
}